<div class="col-4 offset-4">

  <%= form_with(model: wine, local: true) do |form| %>
    <% if wine.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

        <ul>
        <% wine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: "control-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :strains, class: "control-label" %>
        <br>
        <%= form.collection_check_boxes(:strain_ids, Strain.all, :id, :name) do |s|  %>

              
              <%= s.check_box(class: "form-check-input")%>
              <%= s.text%>
              
              
       
          <br>  
        <%end%>
      
    </div>

    

    <div class="actions">
      <%= form.submit "Save", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>